/*

Addressbook | Portfolio

Table of Contents

1.0  Global Selectors_
2.0  All Contact Display Screen
3.0  New Contact Display Screen

*/

/*
1.0 Global Selectors
*/

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body{
    background-color:#E8E4E4;
    margin:0 auto;
    text-align:center;
    font-size:65.2%;
    font-family: 'Karla', sans-serif;
}

div{
    display: inline-block;
}

span{
    display:inline-block;
    padding:0;
    margin:0;
}

p{
    margin:0;
}

input{
    border:none;
}

/* 
2.0  All Contact Display Screen
*/

#contact_container{
    background-color:white;
    width:40rem;
    height:auto;
    text-align: center;
    box-shadow: 3px 3px 5px 3px grey;
}

#top_row_container{
    width:100%;
    height:5rem;
    margin-top:0rem;
    font-size:2.2rem;
    border-bottom: 1px solid #7E7D82;
    background-color:#F7F7F7;
}

#top_row_container > span{
    width:auto;
    letter-spacing: -2px;
    background-color:#F7F7F7;
}

#top_row_element_0{
    float:left;
    margin:1rem 0 0 20px;
    color:#0D7CE3;
}

#top_row_element_1{
    float: none;
    margin: 1rem 35px 0 0;
    font-weight:bold;
}

#top_row_element_2{
    float:right;
    margin: -12px 2rem 0 2rem;
    font-size:4.5rem;
    color:#0D7CE3;
}

#search_container{
    width:100%;
    height:5.5rem;
    background-color:#CAC9CE;
    border-bottom: 1px solid #B6B5B9;
}

#search{
    width:95%;
    height:60%;
    margin-top: 1rem;
    border-radius: 10px;
    border:none;
    font-size: 2rem;
    text-align:center;
    transition:             width .5s ease;
        -moz-transition:    width .5s ease;
        -ms-transition:     width .5s ease;
        -o-transition:      width .5s ease;
        -webkit-transition:  width .5s ease;
}
#search_icon { 
    position: absolute;
    top: 112px;
    left: 12px;
    font-size: 26px;
    color: #A9A9A9;
}

#search_cancel{
    width:15%;
    height:60%;
    margin-top: 1rem;
    border-radius: 10px;
    border:none;
    text-align:center;
    font-size:2rem;
    color:#0D7CE3;
    display:none;
    transition:             opacity .5;
        -moz-transition:    opacity .5;
        -ms-transition:     opacity .5;
}
#names_container{
    height:auto;
    width:96%;
    float:left;
}

div[id^=abc_container_]{
    height:auto;
    width:100%;
    font-size:3.3rem;
    padding-bottom: .5rem;
}

p[id^=letter_container_]{
    background-color:#F7F7F7;
    font-weight: bold;
    padding-left: 2rem;
    height:3.5rem;
    padding-left:2rem;
    text-align: left;
}

p[id^=full_name_container_]{
    text-align:left;
    margin-left: 2rem;
    border-bottom: 1px solid #B6B5B9;
    padding:1.5rem 0 1.5rem 0;
    font-weight:bold;
}

.inner_contact_container{
    text-align: left;
    margin: 1rem 0 0 2rem;
    border-bottom: 1px solid #B6B5B9;
    padding-bottom: 1.5rem;
    font-size:2.5rem;
}

#right_column_letters_container{
    height:100%;
    width:4%;
    float:right;
    color: #0D7CE3;
    font-size:14px;
    font-weight: 600;
    margin-top:6rem;
    position:fixed;
    right:3%;
    
}

/*
3.0  New Contact Display Screen
*/


/* display none for now, will display as inline-block when plus button is clicked */

#new_contact_container{
    background-color:white;
    width:40rem;
    height:auto;
    text-align: center;
    position: relative;
    top: 0px;
    display: none;
    box-shadow: 3px 3px 5px 3px grey;
}

#second_top_row_container{
    width:100%;
    height:5rem;
    margin-top:0rem;
    font-size:2.2rem;
    border-bottom: 1px solid #7E7D82;
    background-color:#F7F7F7;
}

#second_screen_input_section_container{
    width:100%;
    height:25%;
}

#second_top_row_container > span{
    width:auto;
    letter-spacing: -2px;
    background-color:#F7F7F7;
}

#cancel_button{
    float:left;
    margin:1rem 0 0 20px;
    color:#0D7CE3;
}

#new_contact{
    float: none;
    margin: 1rem -20px 0 0;
    font-weight:bold;
}

#done_button{
    float:right;
    margin: 15px 2.5rem 0 2rem;
    color:#BDBDBD;
    font-weight: bold;
}

#left_input_section_container_div{
    width:35%;
    float: left;
}

#add_photo_circle{
    width:6rem;
    height:6rem;
    border: 2px solid #BDBDBD;
    border-radius:100%;
    position:relative;
    top:25px;
    left:-10px;
    font-size:21px;
    line-height: 25px;
    text-align: center;
    color:#0D7CE3;
}

#right_input_section_container_div{
    width:65%;
    float: left;
}

.first_last_company{   
    font-size:3rem;
    width:100%;
    border-bottom: 1px solid #7E7D82;
    padding:1rem 0 1rem 0;
}

#add_other_info_container{
    width:100%;
    height:auto;
    font-size:2.5rem;
    
}

div[id^=add_more_info_container_]{
    margin-top:58px;
    border-bottom: 1px solid #7E7D82;
    width:94%;
    float:right;
}

.green_plus{
  
    float:left;
    
    
    margin:15px 9px 9px -11px;
    padding-bottom: 2px;
}
.fa-plus-circle:before {
    content: "\f055";
    font-weight: 100;
    font-style: oblique;
    color: green;
    top:5px;
    left:5px;
}

input[id^=input_container_]{
    width:80%;
    height:100%;
    float:left;
    font-size:2.5rem;
    padding-left:1rem;
    margin-top:13px;
}
/*
#add_email_container{
    width:80%;
    height:100%;
    float:left;
    font-size:2.5rem;
    padding-left:1rem;
    margin-top:13px;
}

*/
/* ugly way to change color to text for input attribute */

input[placeholder='add phone'][id^=input_container_]::-webkit-input-placeholder{
    color:#0D7CE3;
}
input[placeholder='add phone'][id^=input_container_]::-moz-placeholder{
    color:#0D7CE3;
}
input[placeholder='add phone'][id^=input_container_]::-ms-input-placeholder{
    color:#0D7CE3;
}
input[placeholder='add phone'][id^=input_container_]:moz-input-placeholder{
    color:#0D7CE3;
}

/* ugly way to change color to text for input attribute */

input[placeholder='add email'][id^=input_container_]::-webkit-input-placeholder{
    color:#0D7CE3;
}
input[placeholder='add email'][id^=input_container_]::-moz-placeholder{
    color:#0D7CE3;
}
input[placeholder='add email'][id^=input_container_]::-ms-input-placeholder{
    color:#0D7CE3;
}
input[placeholder='add email'][id^=input_container_]:moz-input-placeholder{
    color:#0D7CE3;
}

/* j media query galaxy portrait*/
@media only screen 
and (max-width : 400px) {
 #contact_container{
    width:100%;
    
 }
 #top_row_container{
     font-size:1.2rem;
 }
 #top_row_element_0{
     margin:2rem 0 0 20px;
 }
 #top_row_element_1{
        margin: 2rem 55px 0 0;
 }

 
 #top_row_element_2{
     font-size:200%;
     margin:17px 1.2rem 0 0rem;
 }
 #search{
    margin:.5rem;
    height:80%;
 }
 #new_contact_container{
    width:100%;
 }
  #second_top_row_container{
      font-size:1.2rem;
  } 
  #cancel_button{
      margin:2rem 0 0 20px;
  }
  #new_contact{
       margin: 2rem 10px 0 0;
  }
  #done_button{
    margin:33px 2.2rem 0 0rem;  
  }
  #add_photo_circle{
    width: 4rem;
    height: 4rem;
    font-size: 14px;
    line-height: 2em;
    text-align: center;;
  }
  .first_last_company{
      font-size:1rem;
  }
  /*#green_plus{*/
  /*  width:14%;*/
  /*  height:10%;*/
  /*}*/
}
/*for landscape galaxy  (max-device-width : 1080px)*/
@media only screen 
and (min-width : 660px){
    #contact_container{
    width:39.8%;
    float:left;
    border-right:solid .2px #A9A9A9;
    }
   #new_contact_container{
    display:inline-block;
    width:60%;
    box-shadow:none;
   } 
}



/*media querry iphone 5
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {}*/

/*
