body{
    background-color:lightgrey;
    margin:0 auto;
    text-align:center;
    font-size:65.2%;
    font-family: 'Karla', sans-serif;
}

div{
    display: inline-block;
}

span{
    display:inline-block;
    padding:0;
    margin:0;
}

#contact_container{
    background-color:white;
    width:40rem;
    height:200rem;
    text-align: center;
}

div[id^=abc_container_]{
    height:5rem;
    width:100%;
    background-color:red;
}

#top_row_container{
    width:100%;
    height:5rem;
    margin-top:1rem;
    font-size:2.2rem;
    border-bottom: 1px solid #7E7D82;
}

#top_row_container > span{
    width:auto;
}

#group_button{
    float:left;
    margin:1rem 0 0 20px;
    color:#0D7CE3;
}

#contact{
    float: none;
    margin: 1rem 35px 0 0;
    font-weight:bold;
}

#plus_button{
    float:right;
    margin: -9px 2rem 0 2rem;
    font-size:4rem;
    color:#0D7CE3;
}